<Config>
  <Port>8083</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <Branch>master</Branch>
  <LogLevel>Debug</LogLevel>
  <SslCertHash>
  </SslCertHash>
  <UrlBase>
  </UrlBase>
  <UpdateMechanism>Script</UpdateMechanism>
  <UpdateAutomatically>True</UpdateAutomatically>
  <UpdateScriptPath>/scripts/sonarr-update.sh</UpdateScriptPath>
  <BindAddress>*</BindAddress>
</Config>

